{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <section>
        <h1>New Prompt</h1>
        <form method="post" class="form-fields">
            {% for message in get_flashed_messages() %}
                <span class="warning">⚠️ {{ message }}</span>
            {% endfor %}
            <div>
                <label for="title">Title (required)</label>
                <input name="title" id="title" placeholder="Title of the prompt" value="{{ request.form['title'] }}" required>
            </div>

            <div>
                <label for="body">Body</label>
                <textarea name="body" id="body" placeholder="Prompt">{{ request.form['body'] }}</textarea>
            </div>
            <button type="submit" value="Save" class="button blue">Save</button>
            
        </form>
    </div>
    </section>
    </div>
{% endblock %}