{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<span class="warning">⚠️ {{ message }}</span>
{% endfor %}
    <h3>{{ prompt['title'] }}</h3>
    <p>{{ prompt['body'][:200] }}...</p>
    
    <section class="use-section">
        <h2>Use this app</h2>
        <form method="post" enctype="multipart/form-data">
            <label for="file">csv</label>
            <input type="file" name="file" accept=".csv" id="file"/>
            
            {% for variable in variables %}
                <div class="csv-mapping">
                    <label for="{{ variable }}">{{ variable }}</label>
                    <select name="{{ variable }}" id="{{ variable }}">
                    </select>
                </div>
            {% endfor %}

            <input type="submit" value="upload" class="button blue"/>
        </form>
    </section>

    <script>
        const fileElement = document.getElementById('file');
        const reader = new FileReader();


        fileElement.addEventListener("change", (e) => {
            const fileList = e.target.files;
            const file = fileList[0];
            reader.readAsText(file);
        });

        reader.addEventListener("load", (e) => {
            const result = e.target.result;
            const headers = result.split(/\r?\n/)[0].split(/,/);

            const mappingOptions = document.querySelectorAll(".csv-mapping select");

            mappingOptions.forEach((mappingOption) => {
                mappingOption.innerHTML = "";// clear all the options
                mappingOption.value = "";

                headers.forEach(header => {
                    mappingOption.add(new Option(header));
                });
            });
        });
    </script>
{% endblock %}